@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Ajustar el espaciado entre filas del modal */
#addDataModal .row {
    margin-bottom: 15px; /* Espaciado entre filas */
}

#addDataModal .col-md-6 {
    padding: 0 10px; /* Espaciado interno entre columnas */
}

#addDataModal .modal-body form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 15px; /* Espaciado entre los campos */
}

#addDataModal .modal-body form .row {
    margin: 0; /* Eliminar márgenes de las filas */
}

#addDataModal .modal-body form .col-md-6 {
    padding: 0; /* Eliminar padding de las columnas */
    grid-column: span 1; /* Cada campo ocupa una columna */
}

/* Ajustar el diseño del formulario del modal de edición */
#editDataModal .modal-body form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 15px; /* Espaciado entre los campos */
}

#editDataModal .modal-body form .mb-3 {
    margin: 0; /* Eliminar márgenes de los campos */
    grid-column: span 1; /* Cada campo ocupa una columna */
}

/* Centrar TODOS los encabezados de tabla */
.table thead th {
    text-align: center !important; /* !important asegura que prevalezca sobre otros estilos */
}

.crud__title {
    text-align: center;
}

.crud__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.form__inputs {
    display: flex;
    flex: 1;
    gap: 10px;
}

.form__navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo para los botones de navegación */
.btn-navegacion {
    transition: background-color 0.3s ease;
}

.btn-navegacion:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

.btn-navegacion:focus {
    outline: none;
    box-shadow: 0 0 5px #0056b3;
}

/* Botón activo */
.btn-navegacion.btn-active {
    background-color: #90ee90;
    color: black;
    pointer-events: none; /* Deshabilitar clics en el botón activo */
}

/* Cambiar el color de fondo de la barra lateral */
.sidebar {
    background-color: #F5F5DC;
    color: white; /* Color del texto */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    padding: 20px; /* Espaciado interno */
}

/* Opcional: Cambiar el color del texto dentro de la barra lateral */
.sidebar h3 {
    color: black; 
}

.sidebar button {
    color: black; /* Asegura que los botones tengan texto blanco */
}

/* Ocultar la barra lateral */
.sidebar-hidden .sidebar {
    display: none !important;
}


.sidebar-hidden main {
    margin-left: 0; /* Ajusta el contenido principal */
}

.logo {
    max-width: 150px; /* Ancho máximo del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra el logo horizontalmente */
    display: block; /* Asegura que se comporte como un bloque */
}

/* Ocultar la barra lateral */
.sidebar-hidden .sidebar {
    display: none; /* Oculta la barra lateral */
}

.sidebar-hidden main {
    margin-left: 0; /* Ajusta el contenido principal */
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.2);
}

.button--primary {
    background-color: #049c10;
    color: #fff;
}

.button--secondary {
    background-color: #00b8ff;
    color: #fff;
}

.button--tertiary {
    background-color: #dc3545;
    color: #fff;
}

.button--delete {
    background-color: #dc3545;
    color: white; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button--delete:hover {
    background-color: #c82333;
    transform: scale(1.1);
}

.button--edit {
    background-color: #28a745;
    color: #fff;
}

.button--active {
    background-color: #6c757d;
    color: #fff;
    cursor: default;
    pointer-events: none;
}

.table-options {
    width: 11%; /* Ajusta el ancho según sea necesario */
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

.crud__table {
    width: 100%;
    border-collapse: collapse;
}

.table__header, .table__body td{
    border: 1px solid #ccc;
    padding: 8px;
}

.table__header {
    background-color: #f0f0f0;
}

.table__body td:nth-child(3) {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

/* Ajustar el contenido principal cuando la barra lateral está visible */
main {
    margin-left: 250px; /* Ajusta este valor según el ancho de tu sidebar */
    transition: margin-left 0.3s ease;
}

/* Cuando la barra lateral está oculta, el contenido se expande */
.sidebar-hidden main {
    margin-left: 0;
    width: 100%;
}



/* Ajustar el ancho de la columna ID en la tabla de CLIENTES */
#clientesBody td:first-child, 
#clientesBody th:first-child {
    width: 50px; /* Espacio suficiente para dos dígitos */
    text-align: center; /* Centrar el contenido */
}



/* Ajustar el ancho de la columna Teléfono en la tabla de CLIENTES */
#clientesBody td:nth-child(4), 
#clientesBody th:nth-child(4) {
    width: 100px; /* Espacio suficiente para nueve dígitos */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna DNI en la tabla de CLIENTES */
#clientesBody td:nth-child(2), 
#clientesBody th:nth-child(2) {
    width: 80px; /* Espacio suficiente para ocho dígitos */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna RUC en la tabla de CLIENTES */
#clientesBody td:nth-child(5), 
#clientesBody th:nth-child(5) {
    width: 120px; /* Espacio suficiente para 11 dígitos */
    text-align: center; /* Centrar el contenido */
}

/* Alinear el texto de la columna Producto de la tabla ALMACEN a la izquierda */
#almacenBody td:first-child, 
#almacenBody th:first-child {
    text-align: left;
}

/* Ajustar el ancho de la columna ID en la tabla de ALMACÉN */
#almacenBody td:first-child, 
#almacenBody th:first-child {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Producto en la tabla de ALMACÉN */
#almacenBody td:nth-child(2), 
#almacenBody th:nth-child(2) {
    width: 120px; /* Espacio suficiente para diez caracteres */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Ajustar el ancho de la columna Descripcion en la tabla de ALMACÉN */
#almacenBody td:nth-child(3), 
#almacenBody th:nth-child(3) {
    width: 300px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Ajustar el ancho de la columna Stock en la tabla de ALMACÉN */
#almacenBody td:nth-child(4), 
#almacenBody th:nth-child(4) {
    width: 90px; /* Ajusta el ancho según sea necesario */
    text-align: right; /* Alinear el texto a la derecha */
}

/* Ajustar el ancho de la columna Entrada en la tabla de ALMACÉN */
#almacenBody td:nth-child(6), 
#almacenBody th:nth-child(6) {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Salida en la tabla de ALMACÉN */
#almacenBody td:nth-child(7), 
#almacenBody th:nth-child(7) {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Import. Inventario en la tabla de ALMACÉN */
#almacenBody td:nth-child(8), 
#almacenBody th:nth-child(8) {
    width: 120px; /* Ajusta el ancho según sea necesario */
    text-align: right; /* Alinear el contenido a la derecha */
}

/* Ajustar el ancho de la columna ID en la tabla de TRABAJADORES */
#trabajadoresBody td:first-child, 
#trabajadoresBody th:first-child {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Nº Trabajador en la tabla de TRABAJADORES */
#trabajadoresBody td:nth-child(2), 
#trabajadoresBody th:nth-child(2) {
    width: 30px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Nombre y Apellidos en la tabla de TRABAJADORES */
#trabajadoresBody td:nth-child(3), 
#trabajadoresBody th:nth-child(3) {
    width: 240px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Ajustar el ancho de la columna Cargo en la tabla de TRABAJADORES */
#trabajadoresBody td:nth-child(4), 
#trabajadoresBody th:nth-child(4) {
    width: 150px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Ajustar el ancho de la columna Área en la tabla de TRABAJADORES */
#trabajadoresBody td:nth-child(5), 
#trabajadoresBody th:nth-child(5) {
    width: 150px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el contenido a la izquierda */
}

/* Ajustar el ancho de la columna Sexo en la tabla de TRABAJADORES */
#trabajadoresBody td:nth-child(6), 
#trabajadoresBody th:nth-child(6) {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el contenido a la izquierda */
}

/* Ajustar el ancho de la columna Sexo en la tabla de TRABAJADORES */
#trabajadoresBody td:nth-child(7), 
#trabajadoresBody th:nth-child(7) {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el contenido a la izquierda */
}

/* Centrar encabezados de tabla */
.table th.text-center {
    text-align: center;
}

/* Ajustar el ancho de la columna ID en la tabla de CAJA */
#cajaBody td:first-child, 
#cajaBody th:first-child {
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Codigo en la tabla de CAJA */
#cajaBody td:nth-child(2),
#cajaBody th:nth-child(2) {
    width: 20px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el contenido a la izquierda */
}

/* Ajustar el ancho de la columna Monto en la tabla de CAJA */
#cajaBody td:nth-child(3),
#cajaBody th:nth-child(3) {
    width: 200px; /* Ajusta el ancho según sea necesario */
    text-align: center; /* Centrar el contenido */
}

/* Ajustar el ancho de la columna Fecha Registro en la tabla de CAJA */
#cajaBody td:nth-child(5),
#cajaBody th:nth-child(5) {
    width: 160px; /* Ajusta el ancho según sea necesario */
    text-align: left; /* Alinear el contenido a la izquierda */
}

